* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

ul, ol, menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1312px;
  padding: 0 1rem;
  margin: 0 auto;
}

header {
  padding: 1rem 0;
  background-color: #fff;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
header .logo {
  width: 80px;
  height: 80px;
}
header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .nav .nav-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
header .nav .nav-link {
  display: block;
  line-height: 3rem;
  border-bottom: 4px solid #fff;
  text-transform: uppercase;
}
header .nav .nav-link:hover {
  border-color: #0282f9;
}

main .hero {
  background: url("../img/jumbotron.jpg") top/cover no-repeat;
  background-color: #1c1c1c;
}
main .hero .container {
  height: 400px;
  position: relative;
}
main .hero .hero-title {
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  left: 1rem;
  transform: translateY(50%);
  background-color: #0282f9;
  color: #fff;
  text-transform: uppercase;
}
main .series {
  padding: 3rem 0;
  color: #fff;
  background-color: #1c1c1c;
}
main .series .serie-list {
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
main .series .serie-list .serie-item {
  flex-basis: 185px;
  flex-grow: 1;
  padding: 0 0.75rem;
}
main .series .cta {
  text-align: center;
}
main .series .cta a {
  display: inline-block;
  padding: 0.25rem 2rem;
  line-height: 1.5rem;
  background-color: #0282f9;
}
main .features {
  padding: 3rem 0;
  background-color: #0282f9;
}
main .features .feature-list {
  display: flex;
  flex-wrap: wrap;
}
main .features .feature-item {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #fff;
  text-transform: uppercase;
}
main .features .feature-item img {
  width: 60px;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}