* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

ul, ol, menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1312px;
  padding: 0 1rem;
  margin: 0 auto;
}

.container-sm {
  max-width: 1052px;
  padding: 0 1rem;
  margin: 0 auto;
}

.col-66 {
  flex-basis: 66.6666666667%;
}

.col-33 {
  flex-basis: 33.3333333333%;
}

.col-6 {
  flex-basis: 50%;
}

.col-4 {
  flex-basis: 25%;
}

.list-inline {
  display: flex;
}

.row {
  display: flex;
}

header {
  padding: 1rem 0;
  background-color: #fff;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
header .logo {
  width: 80px;
  height: 80px;
}
header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .nav .nav-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
header .nav .nav-link {
  display: block;
  line-height: 3rem;
  border-bottom: 4px solid #fff;
  text-transform: uppercase;
}
header .nav .nav-link:hover {
  border-color: #0282f9;
}

main .hero {
  background: url("../img/jumbotron.jpg") top/cover no-repeat;
  background-color: #1c1c1c;
}
main .hero .container {
  height: 400px;
  position: relative;
}
main .hero .hero-title {
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  left: 1rem;
  transform: translateY(50%);
  background-color: #0282f9;
  color: #fff;
  text-transform: uppercase;
}
main .series {
  padding: 3rem 0;
  color: #fff;
  background-color: #1c1c1c;
}
main .series .serie-list {
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
main .series .serie-list .serie-item {
  flex-basis: 185px;
  flex-grow: 1;
  padding: 0 0.75rem;
}
main .series .cta {
  text-align: center;
}
main .series .cta a {
  display: inline-block;
  padding: 0.25rem 2rem;
  line-height: 1.5rem;
  background-color: #0282f9;
}
main .features {
  padding: 3rem 0;
  background-color: #0282f9;
}
main .features .feature-list {
  display: flex;
  flex-wrap: wrap;
}
main .features .feature-item {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #fff;
  text-transform: uppercase;
}
main .features .feature-item img {
  width: 60px;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .nav {
  padding: 3rem 0;
  background: url("../img/footer-bg.jpg") center/cover no-repeat #1c1c1c;
  color: #fff;
  overflow: hidden;
}
footer .nav .container {
  display: flex;
  gap: 1.5em;
  position: relative;
}
footer .nav .container h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #fff;
}
footer .nav .container a {
  display: block;
  font-size: 12px;
  line-height: 165%;
  color: grey;
}
footer .nav .container .mb {
  margin-bottom: 1.5rem;
}
footer .nav .container img {
  width: 560px;
  margin-left: auto;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
footer .footer-cta {
  padding: 1.5rem 0;
  background-color: #303030;
  color: #fff;
}
footer .footer-cta .container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .footer-cta .container .button {
  display: block;
  padding: 8px 12px;
  border: 2px solid #0282f9;
  margin-right: auto;
  text-transform: uppercase;
}
footer .footer-cta .container .socials {
  display: contents;
}
footer .footer-cta .container .socials h3 {
  color: #0282f9;
  text-transform: uppercase;
}
footer .footer-cta .container .socials .social-list {
  display: flex;
  gap: 1rem;
}

.hero {
  background: url("../img/jumbotron.jpg") top/cover no-repeat;
  background-color: #1c1c1c;
}
.hero .container-sm {
  height: 400px;
  position: relative;
}
.hero-comic img {
  position: absolute;
  bottom: -60px;
  left: 16px;
}
.hero-comic::after {
  content: "";
  display: block;
  height: 80px;
  background-color: #0282F9;
}

.comic-intro {
  padding: 60px 0;
}
.comic-intro .col-33 {
  padding-left: 40px;
  text-align: right;
}
.comic-intro .price-info {
  background-color: #55BA59;
}
.comic-intro .price-info > * {
  padding: 0.5rem 1rem;
}
.comic-intro .price-info .price {
  margin-right: auto;
}
.comic-intro .price-info .btn {
  display: inline-block;
  border-left: 1px solid black;
}

.comic-data {
  padding: 25px 0 100px;
  background-color: #F6F6F6;
  border-top: 1px solid #AA9F9F;
  border-bottom: 1px solid #AA9F9F;
}
.comic-data table {
  width: 100%;
}
.comic-data th, .comic-data td {
  border-top: 1px solid #AA9F9F;
  border-bottom: 1px solid #AA9F9F;
  border-collapse: collapse;
}
.comic-data th {
  width: 40%;
}

.comic-features {
  background-color: #F6F6F6;
  font-size: 12px;
}
.comic-features .features-wrapper {
  border-right: 1px solid #AA9F9F;
  border-left: 1px solid #AA9F9F;
}
.comic-features .col-4 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.comic-features img {
  height: 37px;
}